html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FF9966;
}

:focus {
	outline: none
}

::-moz-focus-inner {
	border: 0
}

nav {
	border-bottom: 1px solid #D8D8D8 !important;
	list-style: none;
	margin: 0;
	min-height: 80px;
	background: rgba(250, 250, 250, 1);
	padding: 0;
	width: 100%;
	text-align: center;
	display: inline-block;
	z-index: 9999999999999;
	margin-bottom: 15px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	position: fixed;
}

.nav li {
	display: inline
}

.nav a {
	display: inline-block;
	padding: 5px;
	font-size: 1.5rem;
	border: 1px solid #4E4E4E;
	border-radius: 2px;
	color: #4E4E4E;
	text-decoration: none;
	height: 40px;
	margin: 15px 5px 10px;
	font-family: 'Open Sans', sans-serif;
}

nav select {
	display: none;
	margin: 7px auto;
	width: 80%;
}

.nav a:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
}

#main {
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 1224px;
	margin: 0 auto;
	display: block;
	color: #4E4E4E;
	padding: 15px;
}

.contentDiv {
	margin: 0 auto;
	width: 80%;
}

#search {
	margin-top: 75px !important
}

.section {
	width: 100%;
	display: inline-block;
	margin: 5px 0;
	background: rgba(250, 250, 250, 1);
	border-radius: 5px;
	border: 1px solid #D8D8D8;
	padding: 30px;
	position: relative;
}

#searchInput {
	width: 100%;
	display: block;
	height: 40px;
	border: 1px solid #D8D8D8;
	font-size: 1rem;
	padding: 10px;
	text-align: center;
}

#searchButton {
	width: 100%;
	display: block;
	height: 40px;
	border: 1px solid #D8D8D8;
	border-top: 0;
	font-size: 1rem;
	padding: 10px;
	text-align: center;
	background: #F2F2F2;
	cursor: pointer;
}

#searchButton img {
	width: 18px;
	height: 18px;
}

#searchResults {
	width: 100%;
	display: inline-block;
}

.searchError {
	background: #FF9966;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	text-align: center;
	display: block;
	width: 100%;
	margin: 25px auto;
	padding: 10px 0;
	font-size: 1.5rem;
	border-radius: 5px;
}

#searchResults ul {
	width: 100%;
	display: inline-block;
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid #D8D8D8;
	padding: 0 10px;
	position: relative;
	max-height: 500px;
	overflow: auto;
}

#searchResults h2 {
	display: block;
	font-size: 1.5rem;
	font-style: italic;
	margin: 30px 0 2px;
}

.resultName {
	display: inline;
	font-size: 1.3rem;
	font-style: italic;
	color: #FF9966;
}

.verifiedRing {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #FF9966;
	text-align: center;
	border: 1px solid #D8D8D8;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	display: inline-block;
	margin: 0 5px;
}

.verifiedRing p {
	color: white;
	font-size: 20px;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
}

.resultUrl {
	color: #4E4E4E;
	margin: 0;
}

.resultAddress {
	display: block;
	font-size: 1.2rem;
	font-style: italic;
	margin: 5px 0px;
}

#searchResults ul li {
	display: block;
	margin: 10px 0;
}

.loaderGif {
	display: block;
	margin: 40px auto;
}

#logo {
	width: 100%;
	height: 30.5%;
	display: block;
	margin: 10px 0 30px;
}

h1 {
	visibility: hidden;
}

#overview h3 {
	display: block;
	font-size: 1.5rem;
	font-style: italic;
	margin: 30px 0 5px;
}

#overview li {
	font-size: 1rem;
	line-height: 2rem;
	margin: 10px 0;
	list-style-type: square;
}

button:active, input[type='submit']:active, input[type='button']:active,
	#showPassoword:active {
	background: #FF9966 !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
}

#loginForm input, #registerForm input, #currentEmail {
	width: 100%;
	display: block;
	height: 40px;
	border: 1px solid #D8D8D8;
	font-size: 1rem;
	padding: 10px;
	text-align: center;
	margin: 5px 0;
}

#loginSubmit, #registerSubmit, #forgotPass, #recover, #backLogin {
	width: 100% !important;
	padding: 5px;
	display: block;
	font-size: 1rem !important;
	height: 40px !important;
	background: #F2F2F2;
	border: 1px solid #D8D8D8;
	cursor: pointer;
	margin: 5px 0;
}

#loginSubmit, #recover {
	margin: 5px 0px 0px !important;
}

#forgotPass, #backLogin {
	margin: 0px !important;
	border-top: 0 !important;
}

.accountHeader, #faq h2, #contact h2, #overview h2 {
	margin: 10px 0;
	padding: 10px 0;
	font-size: 1.8rem;
	border-bottom: 1px solid #D8D8D8;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

#registerNB {
	background: #6699ff;
	background: -moz-linear-gradient(-45deg, #6699ff 0%, #ff9966 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6699ff),
		color-stop(100%, #ff9966));
	background: -webkit-linear-gradient(-45deg, #6699ff 0%, #ff9966 100%);
	background: -o-linear-gradient(-45deg, #6699ff 0%, #ff9966 100%);
	background: -ms-linear-gradient(-45deg, #6699ff 0%, #ff9966 100%);
	background: linear-gradient(135deg, #6699ff 0%, #ff9966 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699ff',
		endColorstr='#ff9966', GradientType=1);
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 25px 0;
	padding: 10px 0;
	font-size: 1rem;
	min-height: 40px;
	border-radius: 5px;
	border: 1px solid #D8D8D8;
}

.loginError {
	background: #FF9966;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 25px auto;
	padding: 10px 0;
	min-height: 40px;
	font-size: 1rem;
	border-radius: 5px;
}

.registerError, .cError {
	background: #FF9966;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 1rem;
	padding: 10px 0;
	border-radius: 5px;
	min-height: 40px;
	width: 100% !important;
	display: inline-block;
}

#contact h3 {
	display: block;
	font-size: 1.5rem;
	font-style: italic;
	margin: 30px 0 5px;
}

#contact h4 {
	font-size: 1rem;
	font-style: italic;
	line-height: 2rem;
}

.terms {
	text-align: center;
	color: #4E4E4E;
	margin: 10px 0;
	font-size: 0.7rem;
	display: block;
}
/* Media queries*/
@media ( min-width :320px) and (max-width:479px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	#main {
		width: 320px
	}
	nav select {
		display: block
	}
	nav ul {
		display: none
	}
	nav {
		min-height: 35px !important;
		max-height: 35px !important;
		margin-bottom: 5px !important;
	}
	#searchResults h2, h3 {
		font-size: 1.2rem
	}
	#search {
		margin-top: 30px !important
	}
	.searchError, .loginError {
		font-size: 1.2rem !important
	}
	.registerError {
		font-size: 1rem !important;
	}
}

@media ( min-width :480px) and (max-width:599px) {
	/* smartphones, Android phones, landscape iPhone */
	#main {
		width: 480px
	}
	nav select {
		display: block
	}
	nav ul {
		display: none
	}
	#search {
		margin-top: 30px !important
	}
	nav {
		min-height: 35px !important;
		max-height: 35px !important;
		margin-bottom: 5px !important;
	}
	.searchError, .loginError {
		font-size: 1.2rem !important;
	}
	.registerError {
		font-size: 1rem !important;
	}
}

@media ( min-width :600px) and (max-width:799px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	#main {
		width: 600px
	}
	nav select {
		display: block
	}
	#search {
		margin-top: 30px !important
	}
	nav ul {
		display: none
	}
	nav {
		min-height: 35px !important;
		max-height: 35px !important;
		margin-bottom: 5px !important;
	}
	.searchError, .loginError {
		font-size: 1.2rem !important
	}
	.registerError {
		font-size: 1rem !important;
	}
}

@media ( min-width :800px) and (max-width:1024px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	#main {
		width: 800px
	}
	nav select {
		display: none
	}
	nav ul {
		display: block
	}
	nav {
		min-height: 80px !important
	}
	.searchError, .loginError {
		font-size: 1.2rem !important
	}
}

@media ( min-width :1025px) and (max-width:1280px) {
	/* big landscape tablets, laptops, and desktops */
	#main {
		width: 1025px
	}
	nav select {
		display: none
	}
	nav ul {
		display: block
	}
	nav {
		min-height: 80px !important
	}
}

@media ( min-width :1281px) {
	/* hi-res laptops and desktops */
	#main {
		width: 1281px
	}
	nav select {
		display: none
	}
	nav ul {
		display: block
	}
	nav {
		min-height: 80px !important
	}
}
/* CSS+*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input, select, textarea, button {
	border: 1px solid #D8D8D8;
}

input:focus, select:focus, textarea:focus {
	outline: 1px solid #FF9966;
}

input[type="button"]:focus, input[type="submit"]:focus, .mealToEdit:focus,
	.submitFoodChange:focus {
	outline: !important;
}